input[type=text]{
  border: 2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding: 8px;
  box-sizing:border-box;
  transition: .3s;
  height: 40%;
  width: 20%;
}
input[type=text]:focus{
  border-color:#bdc3c7;
  box-shadow: 0 0 8px 0 dodgerblue;
}
h1{

  font-family:  'Titillium Web', sans-serif;
  color: #bdc3c7;
}
